{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="very_rounded mutedbg fg p-2 mb-1 text-center">
    <h2>Passwort Ändern</h2>
  </div>
  <div class="very_rounded bg fg p-2">
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <!--
      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.help_text %}
            <small style="color: white">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}-->
      <button type="submit" class="btn btn-success btn-block">Ändern</button>
    </form>
  </div>

{% endblock %}
