{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
<div style="text-align:center"><h2>Login</h2></div>


<div style="text-align:center">

  <form method="post" id="form_login">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-success" type="submit">Login</button>
  </form></div>
  <p>*Required</p>
  <p>Passwort Vergessen? schreibe wärend der Beta bitte eine Mail an den Admin: philipp(at)berdesinski.dev</p>
{% endblock %}
