{% extends 'base.html' %}

{% block title %}{{ group.name }}{% endblock %}

{% block content %}
<div style="text-align:center">
  <div class="very_rounded bg fg p-1 row">
    <div class="col">
      <h2>{{ group.name }}</h2>
      <div>Erstellt am {{ group.creation_date }} von <a href="{{group.admin.profile.ref}}" class="user">{{ group.admin }}</a></div>
    </div>
    <div class="col" style="text-align:center">
      <h3>Kummulative Ehre</h3>
      <h2>{{ group.accumulatedEhre }}</h2>
    </div>
    {% if group.admin == request.user%}
      <div class="col very_rounded mutedbg pt-4" style="text-align:center" onclick="location.href='settings';">
          <h3>Einstellungen</h3>
      </div>
    {% endif %}
    {% if request.user not in group.members.all and request.user not in group.initiates.all %}
      <div class="col very_rounded good pt-4" style="text-align:center" onclick="location.href='request';">
          <h3>Bewerben</h3>
      </div>
    {% endif %}
    {% if request.user in group.initiates.all %}
      <div class="col very_rounded mutedbg pt-4" style="text-align:center">
          <h3>Bu bist hier Bewerber</h3>
      </div>
    {% endif %}
  </div>

  <div class="very_rounded bg fg p-1 row mt-1">
    <div class="col">
      <div class="row text-center">
        <div class="col text-center">
          Ehrenmänner
        </div>
      </div>
      <div class="dropdown-divider"></div>
      {% for user in group.members.all %}
        <div class="row text-center">
          <div class="col text-center">
            <a href="{{user.profile.ref}}" class="user" style="text-align:center">{{ user }}</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

</div>


{% endblock %}
