{% extends 'base.html' %}

{% block title %}{{ group.name }}{% endblock %}

{% block content %}
<div style="text-align:center">
  <div class="very_rounded bg fg p-1 row">
    <div class="col">
      <h2>{{ group.name }}</h2>
      <div>Erstellt am {{ group.creation_date }} von <a href="{{group.admin.profile.ref}}" class="user">{{ group.admin }}</a></div>
    </div>
  </div>

  <div class="very_rounded bg fg p-1 mt-1 row" style="text-align:center">
    <div class="col">
      <h3>Bewerber</h3>
    </div>
  </div>
  {% for user in group.initiates.all %}
  <div class="row mt-1" style="text-align center">
      <div class="col very_rounded bg fg">
            <h3><a href="{{user.profile.ref}}" class="user">{{ user }}</a></h3>
      </div>
      <div class="col very_rounded good fg" onclick="location.href='change/{{user.id}}/True';">
            <h3>JA!</h3>
      </div>
      <div class="col very_rounded bad fg" onclick="location.href='change/{{user.id}}/False';">
            <h3>NEIN!</h3>
      </div>
  </div>
  {% endfor %}

  <div class="row mt-1" style="text-align center">
      <div class="col very_rounded bad fg" onclick="location.href='/gang/{{group.id}}';">
            <h3>Zurück</h3>
      </div>
  </div>
</div>


{% endblock %}
