{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div style="text-align:center">
  <div class="very_rounded bg fg p-1 row">
    <div class="col">
      <h2>{{user.username}}</h2><br>
      <h3>{{ user.first_name }}</h3><br>
      <h3>{{ user.last_name }}</h3>
    </div>
    <div class="col" style="text-align:center">
      <h3>Du hast</h3>
      <h2>{{ user.profile.ehre }}</h2>
      <h3> Ehre im Leib </h3>
    </div>
    <div class="col">
      <div>
        Hier könnten Mehr infos stehen
      </div>
    </div>
  </div>
</div>
{% if empty %}
  <div class = "row very_rounded p-1 m-1 fg mutedbg ">
    <div class="col" style="text-align:center">
      <h3>Neue Anträge</h3>
    </div>
  </div>
  <div class = "row very_rounded p-1 m-1 fg mutedbg ">
    <div class="col" style="text-align:left">
      Restzeit
    </div>
    <div class="col" style="text-align:left">
      Titel
    </div>
  </div>
  {% for issue in unvoted %}
    {% if not issue.isOver %}
    <a href="/issue/{{issue.id}}">
      <div class = "row {% if issue.honor_change %}good{% else %}bad{% endif %} {% if not issue.wasAccepted and issue.isOver %}declined{% endif %} very_rounded p-1 m-1 user">
        <div class="col" style="text-align:left">
          {{ issue.remaining }}
        </div>
        <div class="col" style="text-align:left">
          {{ issue.name }}{% if issue.wasAccepted and issue.isOver %}✓{% endif %}
        </div>
      </div>
    </a>
    {% endif %}
  {% endfor %}
{% else %}
  <div class = "row very_rounded p-1 m-1 fg good ">
    <div class="col" style="text-align:center">
      <h3>Keine neuen Anträge</h3>
    </div>
  </div>
{% endif%}
<div class = "row very_rounded p-1 m-1 fg mutedbg ">
  <div class="col" style="text-align:center">
    <h3>Unfertige Anträge</h3>
  </div>
</div>
<div class = "row very_rounded p-1 m-1 fg mutedbg ">
  <div class="col" style="text-align:left">
    Restzeit
  </div>
  <div class="col" style="text-align:left">
    Titel
  </div>
</div>
{% for issue in issues %}
  {% if not issue.isOver %}
  <a href="/issue/{{issue.id}}">
    <div class = "row {% if issue.honor_change %}good{% else %}bad{% endif %} {% if not issue.wasAccepted and issue.isOver %}declined{% endif %} very_rounded p-1 m-1 user">
      <div class="col" style="text-align:left">
        {{ issue.remaining }}
      </div>
      <div class="col" style="text-align:left">
        {{ issue.name }}{% if issue.wasAccepted and issue.isOver %}✓{% endif %}
      </div>
    </div>
  </a>
  {% endif %}
{% endfor %}

{% endblock %}
